<div class="bg-blue-300 min-h-screen flex flex-col items-center justify-center">
    <div class="max-w-lg mx-auto bg-blue-500 rounded-lg shadow-md p-5">
        <img class="w-32 h-32 rounded-full mx-auto" src="assets/imagenes/perfil.jpg " alt="Profile picture" />
        <h2 class="text-center text-2xl font-semibold mt-3 text-white">
            Nombre: {{ userProfileData.name }}
        </h2>
        <p class="text-center text-white mt-1">
            Correo: {{ userProfileData.email }}
        </p>

        <div class="mt-5">
            <h3 class="text-xl font-semibold text-white">Bio</h3>
            <p class="text-white mt-2">
                {{ userProfileData.name }} is a software engineer with over 10 years of
                experience in developing web and mobile applications. He is skilled in
                JavaScript, React, and Node.js.
            </p>
        </div>

        <div class="display flex">
            <button type="button" (click)="borrar()"
                class="w-full mx-3 text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                borrar perfil
            </button>
            <a href="editar"
                class="w-full mx-3 text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Editar
                perfil</a>
        </div>
        <div>
            
            <details>
                <summary> admin?</summary>
                <div>
                    <form [formGroup]="adminForm"    (ngSubmit)="Confirma()" class="space-y-2 md:space-y-3" action="#">
                        <div>
                            <label for="password"
                              class="block mb-2 text-sm font-medium text-white dark:text-white">Contraseña de admin</label>
                            <input type="password" formControlName="password"  placeholder="••••••••"
                              class="bg-gray-50 border  invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-600 border-gray-300 text-gray-600 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-white-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                              required="" />
              
                              <! los comprobarores del validador>
                              <div *ngIf="adminForm.controls['password'].hasError('required')" class="text-red-600"> Contraseña obligariria</div>
                              <div *ngIf="adminForm.controls['password'].hasError('minlength')" class="text-red-600" >Contraseña muy corta </div>
                          
              
                          </div>
                          <button  type="submit" [disabled]="!adminForm.valid "
              class="w-full text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              Acceder a admin
            </button>
                    </form>
                </div>
            </details>
        </div>
    </div>
</div>