<nav class=" w-full ">
  
    <ul class="flex flex-wrap mx-auto lg:px-16 p-1 text-sm  bg-green-700 w-full   "> 
      <img  routerLink="inicio" class="w-8 h-8 mr-8" src="assets/imagenes/icono.png" alt="logo" />
      <!  puede que este ul sea inutil , que se pueda juntar con el anterior>
      <li class="px-2 py-1 bg-gray-500 hover:bg-gray-600 text-white rounded-full mx-2">
        <a routerLink="inicio"> inicio </a>
      </li>
      <li class="px-2 py-1 bg-gray-500 hover:bg-gray-600 text-white rounded-full mx-2">
        <a routerLink="noticias"> noticias </a>
      </li>
      <li class="px-2 py-1 bg-gray-500 hover:bg-gray-600 text-white rounded-full mx-2">
        <a routerLink="tutoriales"> tutoriales </a>
      </li>
      <li class="px-2 py-1 bg-gray-500 hover:bg-gray-600 text-white rounded-full mx-2">
        <a routerLink="buscador"> buscador </a>
      </li>
      <li class="px-2 py-1 bg-gray-500 hover:bg-gray-600 text-white rounded-full mx-2">
        <a routerLink="perfil"> perfil </a>
      </li>
      <li class="px-2 py-1 bg-gray-500 hover:bg-gray-600 text-white rounded-full mx-2">
        <a routerLink="registro"> registro </a>
      </li>
      <li class="px-2 py-1 bg-gray-500 hover:bg-gray-600 text-white rounded-full mx-2">
        <a routerLink="ingreso"> ingreso </a>
      </li>
    </ul>

</nav>
