<div class="min-h-screen flex flex-col items-center justify-center bg-gray-900">
<form [formGroup]="buscarForm" (ngSubmit)="SaveData()" class="mt-4"
    >
    <label
        class="mx-auto relative bg-white min-w-sm max-w-2xl flex flex-col md:flex-row items-center justify-center border py-2 px-2 rounded-2xl gap-2 shadow-2xl focus-within:border-gray-300"
        for="search-bar">
        <input id="search-bar" placeholder="Escriba la noticia" type="text" formControlName="buscar"
            class="px-6 py-2 w-full rounded-md flex-1 outline-none bg-white" />
        <button type="submit"
            class="w-full md:w-auto px-6 py-3 bg-green-600  hover:bg-green-700 text-white fill-white active:scale-95 duration-100 border will-change-transform overflow-hidden relative rounded-xl transition-all"
            [disabled]="!buscarForm.valid">
            <div class="relative">
                <div
                    class="flex items-center justify-center h-3 w-3 absolute inset-1/2 -translate-x-1/2 -translate-y-1/2 transition-all">
                    <svg class="opacity-0 animate-spin w-full h-full" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                        </circle>
                        <path class="opacity-75" fill="currentColor"
                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                        </path>
                    </svg>
                </div>
                <div class="flex items-center transition-all opacity-1 valid:">
                    <span class="text-sm font-semibold whitespace-nowrap truncate mx-auto">Buscar</span>
                </div>
            </div>
        </button>
    </label>
</form>
<div class="  flex flex-col items-center justify-center  bg-gray-900">
    <a *ngFor="let news of coinciden" class=" bg-gray-800 p-8 max-w-lg border my-4  border-gray-700 rounded-2xl hover:shadow-xl hover:shadow-gray-600 flex flex-col items-center"
       >
        <img [src]="news.imagen" class="shadow rounded-lg overflow-hidden border" >
        <div class="mt-8">
            <h4 class=" text-white font-bold text-xl">{{news.titulo}}</h4>
            <p class="mt-2 text-white ">{{news.descripcion}}
              
            </p>
            <div class="mt-5">
                <button type="button" routerLink="" class="inline-flex items-center rounded-md border border-transparent bg-green-700 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-gray-900">Acceder a la noticia</button>
            </div>
        </div>
    </a>
</div>
  
</div>