<div class=" min-h-screen bg-blue-300 " >

    <div class="  flex flex-col items-center justify-center ">
        
        <a *ngFor="let news of coinciden"
        class=" bg-blue-500 p-8 max-w-lg border my-4  border-gray-700 rounded-2xl  flex flex-col items-center">
            <img [src]="news.imagen" class="shadow rounded-lg overflow-hidden border">
            <div class="mt-8">
                <h4 class=" text-white font-bold text-xl">{{news.titulo}}</h4>
                <p class="mt-2 text-white ">{{news.descripcion}}
                </p>      
            </div>
            <div *ngFor="let comentario of news.comentarios"  class="flex flex-col  w-full">

                <div class="border rounded-md p-3 ml-3 my-3">
                    <div class="flex gap-3 items-center">
                        <h3 class="font-bold">
                            Usuario
                        </h3>
                        {{comentario.usuario}}:
                        
                    </div>
                    <div>
                        {{ comentario.comentario }}
                    </div>
                </div>
            </div> 
            <div class="w-full px-3 my-2">
                <textarea
                    class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white"
                    name="body" placeholder='Escriba su comentario' required></textarea>
            </div>
            <div class="w-full flex justify-end px-3">
                <input type='submit' class="px-2.5 py-1.5 rounded-md text-white text-sm bg-green-600  hover:bg-green-700" value='Comentar'>
            </div>
        </a>
    </div>







</div>